<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: content:">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <meta name="theme-color" content="#2196f3">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <title>Talent Mobility Program, THAIST Thailand</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulmaswatch.min.css') }}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    </head>
    <body>
        <section class="hero is-primary">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <span class="icon is-large">
                                <i class="fa fa-comments fa-2x"></i>
                            </span>
                            <h1 class="title is-size-2">TM</h1>
                        </div>
                        <div class="navbar-end">
                            <div class="navbar-menu">
                                <a class="navbar-item" href="/">Home</a>
                                <a class="navbar-item" href="/">Network</a>
                                <a class="navbar-item">
                                    <span class="icon">
                                        <i class="fa fa-language"></i>
                                    </span>
                                    <span>Thai</span>
                                </a>
                                <span class="navbar-item">
                                    <a class="button is-primary is-inverted is-rounded">
                                        <span class="icon">
                                            <i class="fa fa-user-circle"></i>
                                        </span>
                                        <span>Log in</span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Talent Mobility Online Community</h1>
                    <h1 class="subtitle">Where Talents Meet An Industry.</h1>
                </div>
            </div>
            {% block hero_footer %}
            {% endblock %}
        </section>
        {% block page_content %}
        {% endblock %}
        {% block scripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
        {% endblock %}
    </body>
</html>